body {
    background: url(./img/cork.png);
}

header {
.head {
    background: url(./img/wall.png);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
h1 {
    text-align: center;
    font-size: 60px;
}
}