body {
    background: url(./img/cork.png);
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    
.head {
    background: url(./img/wall.png);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
h1 {
    text-align: center;
    font-size: 60px;
}
}

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;

    .polaroid{
        position: relative;
        width: calc(100 % 4);
        margin: 1rem;
        padding: 1rem;
        background-color: white;

        .quadrato{
            width: 200px;
            height: 200px;
            background-color: aqua;
        }

        .pin {
            position: absolute;
            display: block;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.post:hover{
    transform: rotate(10deg) scale(1.1);
}

.post:hover .pin{
    display: none;
}